<section>
    <div class="container">
    <div class="row">
        <div class="col">
            <h1>Bem vindo (funcionário)</h1>
            <h1>Lista equipe</h1>
            <p>Selecione  a pessoa à quem você quer enviar o desafio</p>
            <p><button type="button" class="btn btn-warning" (click)="enviar()">Enviar</button></p>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/img1.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img2.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img3.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="assets/images/img4.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img5.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img6.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Lista atividades</h1>
            <p>Selecione  o desafio à ser enviado</p>
            <ul class="a_ul">
                <li>Beber um copo de água</li>
                <li>Alongar braços</li>
                <li>Alongar pernas</li>
                <li>Alongar o pescoço</li>
                <li>Dar 5 pulinhos</li>
                <li>Fazer 5 polichinelos</li>
            </ul>
        </div>
    </div>
</div>
</section>